{% extends 'base.html.twig' %}

{% block body %}

    <h1>Forecast for {{ city }}, {{ countrycode }}</h1>

    {% for forecast in forecasts %}
        <h2> {{  forecast.date | date('Y-m-d') }}</h2>

        <dl>
            <dt>Temperature</dt>
            <dd>{{ forecast.temperatureCelsius }}</dd>

            <dt>Feels Like</dt>
            <dd>{{ forecast.flTemperatureCelsius }}</dd>

            <dt>pressure</dt>
            <dd>{{ forecast.pressure }}</dd>

            <dt>wind_speed</dt>
            <dd>{{ forecast.wind_speed }}</dd>

            <dt>wind_deg</dt>
            <dd>{{ forecast.wind_deg }}</dd>

            <dt>cloudiness</dt>
            <dd>{{ forecast.cloudiness }}</dd>

            <dt>icon</dt>
            <dd>{{ forecast.icon }}</dd>
            
        </dl>

    {% endfor %}

{% endblock %}